:root {
    --body-background: #B8B8AA;
    --card-background: #c9c9b8;
    --header-background: #7F9183;
    --nav-background: #586F6B;
    --header-color: #DDD5D0;
    --font-color-dark: #343d3c;
    --font-color-light: #DDD5D0;
    --section-background: #8b9c8f;
}

body {
    background-color: var(--body-background);
}

/* header and navigation bar */

header {
    background-color: var(--header-background);
    height: 100px;
}

header img {
    width: 100px;
}

header h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    font-weight: bolder;
    text-align: left;
    padding: 27px;
    color: var(--header-color);
    text-shadow: 2px 3px 1px gray;
}

nav {
    display: flex;
    background-color: var(--nav-background);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    justify-content: flex-end;
}

nav a {
    color: var(--header-color);
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
}

/* main   */
main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
}

/* highlight section and its elements */

.highlight-section {
    flex: 1 1 200px;
    justify-content: left;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--section-background);
    margin: 10px;
}

.about-me {
    position: relative;
    padding: 15px;
    margin: 10px 10px 10px 0;
    justify-content: center;
    border-left: 5px solid var(--font-color-dark);
    flex: 1 1 80%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    background-color: var(--card-background);
}

.about-me-header {
    position: relative;
    padding: 10px;
    margin: 15px;
    color: var(--font-color-light);
    font-size: 20px;
    text-shadow: 2px 3px 1px var(--font-color-dark);
    height: 40px;
}

/* project section and its cards */
.experiances-section {
    flex: 1 1 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    background-color: var(--section-background);

    margin: 10px;
}

.projects {
    flex: 1 1 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-left: 5px solid var(--font-color-dark);
    margin: 10px;
}

.w1,
.w2,
.w3,
.w4,
.w5 {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
}

.project-title {
    position: relative;
    color: var(--font-color-light);
    background-color: var(--nav-background);
    border: 2px solid var(--header-color);
    width: 140px;
    padding: 5px;
    bottom: -70%;
}

section div p {
    font-size: 12px;
}

.intro {
    bottom: -85%;
}

.w1 {
    background-image: url("../images/guess-song.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.w2 {
    background-image: url("../images/coming-soon.png");
    background-repeat: no-repeat;
    background-size: 80% 100%;
}

.w3 {
    background-image: url("../images/coming-soon.png");
    background-repeat: no-repeat;
    background-size: 80% 100%;
}

.w4 {
    background-image: url("../images/coming-soon.png");
    background-repeat: no-repeat;
    background-size: 80% 100%;
}

.w5 {
    background-image: url("../images/coming-soon.png");
    background-repeat: no-repeat;
    background-size: 20% 70%;
}

.projects-header {
    position: relative;
    padding: 10px;
    margin: 15px;
    color: var(--font-color-light);
    font-size: 20px;
    text-shadow: 2px 3px 1px var(--font-color-dark);
    height: 40px;
}

.card {
    flex: 1 0 500px;
    background-color: var(--card-background);
    height: 200px;
    width: 500px;
    color: antiquewhite;
    padding: 10px;
    margin: 5px;
}

.card:nth-child(1) {
    margin-top: 0;
}

.intro-project {
    flex: 1 10 100%;
    height: 400px;
}

/* footer and its childern */
footer {
    background-color: var(--header-background);
    border-top: 1px dashed var(--font-color-dark);
    display: flex;
    flex-wrap: wrap;
}

.contact-me {
    position: relative;
    padding: 15px;
    margin: 10px 10px 10px 0;
    border-left: 5px solid var(--font-color-dark);
    flex: 1 1 80%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    text-align: center;
}

.contact-me-header {
    position: relative;
    padding: 10px;
    margin: 25px 15px 25px 25px;
    color: var(--font-color-light);
    font-size: 20px;
    text-shadow: 2px 3px 1px var(--font-color-dark);
    height: 40px;
}

.contact-me a,
.contact-me span {
    text-decoration: none;
    color: var(--header-color);
    font-size: 16px;
    font-weight: bold;
    padding: 30px 30px 20px 30px;
    text-shadow: 2px 3px 1px gray;
}

/* special effect for the links and cards */

.card:hover {
    /* border: 1px dotted yellow; */
    box-shadow: -1px 1px 10px var(--header-color);
}

a:hover {
    text-shadow: 2px 3px 1px var(--font-color-dark);
}

/* tracking and handeling the screen resolution change  */

@media screen and (max-width: 768px) {

    .about-me {
        height: 60%;
    }

    nav {
        flex-direction: column;
        align-items: center;
    }

    .contact-me a,
    .contact-me span {
        padding: 10px 20px 10px 10px;
    }

    .about-me {
        border-top: 5px solid var(--font-color-dark);
        border-left: 0;
        font-size: 14px;
        line-height: 1em;

    }

    .projects {
        border-left: 0;
        border-top: 5px solid var(--font-color-dark);
    }

}